# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.la
*.lai
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directories and CMake files
build/
bin/
out/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# OS and Editor/IDE files
.DS_Store
.vscode/
.idea/
*.swp
*.swo